<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img id="image-burger" src="/assets/images/burger.png" alt="burger" />
			<h1 id="title"> BurgerTown! </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<div class="row">
			  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<span> <strong> {{this.id}}. {{this.burger_name}}</strong></span>
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-success">Munch!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
			</div>
		</div>
		<div class="col-md-6 text-center" class="task">
			  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Add</button>
			</form>
		</div>
	</div>
</div>
